#sketch {
    border: 10px solid gray;
    /*height: 100%;*/
    /*
    height:650px;
    width:680px;
    */
    position: relative;
    cursor: crosshair;

    height:650px;
    width:680px;
}

#tmp_canvas {
    position: absolute;
    left: 0px; right: 0;
    bottom: 0; top: 0;
    cursor: crosshair;
    margin-left:-10px;
    margin-top: -10px;
}

#canvas{
    margin-left: 20px;
}

#paint {
    height:630px;
    width:660px;
}

#color-picker button {
    width:20px;
    height:20px;
    border: 3px solid gray;
    margin: 0 1px 0 1px;
}

/*Customize slider*/
input[type=range]+.thumb {
    background-color: #fb8c00;
}

input[type=range]::-webkit-slider-thumb {
    background: #fb8c00;
}

/*For Storage btn*/
.fileInput {
    border-bottom: 4px solid #d3d3d3;
    border-right: 4px solid #d3d3d3;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    width:280px;
}
.imgPreview {
    text-align: center;
    margin: 5px 15px;
    height: 300px;
    width: 420px;
    border: 5px solid #808080;
}
.imgPreview img {
    width: 100%;
    height: 100%;
}
.previewText {
    width: 100%;
    margin-top: 20px;
}
.submitButton {
    width: 8em;
}
.submitButton:hover {
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
}
#uploadContainer{
    margin-top:-10em;
}


#fileContainer,
#selectedFile {
    display: inline-block;
    vertical-align: top;
}
#fileContainer {
    margin: 1.3em 0 1em 0;
}
#selectedFile {
    font-size: 1em;
    line-height: 1em;
    padding: .7em 1em;
    margin: 0 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #eee;
    color: #333;
}
#selectedFile #fileTitle {
    font-size: 1.1em;
}
#selectedFile #fileSize {
    color: #888;
    font-style: italic;
}

.btn1 {
    display: inline-block;
    vertical-align: top;
    background-color: #fb8c00;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.1em;
    height:36px;
    width:280px;
    padding: .58em .72em;
    margin: 0 0.6em 0.6em 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn1:hover {
    background-color: #fb8c00;
}




@import url("http://codepen.io/MacEvelly/pen/iJGCw.css");

.holder{
    width:700px;
}
.held{
    position:relative;
    overflow:hidden;
}
.button{
    width:150px;
    padding:10px;
}

#ActivityDIV .swatchHolder{
    position:absolute;
    bottom:0px;
    margin:auto;
    left:0px;
    right:0px;
    list-style-type:none;
    text-align:center;
    display:inline-block;
    padding: 15px;
    width:260px;
    border-radius: 20px 20px 0px 0px;
    color: black;
}
#ActivityDIV .swatchHolder .colorHolder{
    width:100%;
    line-height: 100%;
    content:'Chosen Color';
    padding: 10px 0px;
    margin: 0px auto 15px auto;
    cursor:pointer;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
#ActivityDIV .swatchHolder li:not(.colorHolder){
    height:25px;
    width:25px;
    margin:2px;
    display:inline-block;
    cursor:pointer;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

#ActivityDIV svg{
    width:100%;
    display:inline-block;
}
#ActivityDIV svg path{
    cursor:pointer;
}