#background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    cursor:url('http://www.picgifs.com/cursors/cursors/pencil-and-pen/animaatjes_pencil_icon2.gif'), auto;
}

.stretch {
    width:100%;
    height:100%;
}


h1{
    color: #fff;
}

.StreamsHero-buttonContainer{
    vertical-align: middle;
    padding-top: 28%;
}

.StreamsHero-buttonContainer .Button {
    border-radius: 5px;
    border: 5px solid #fff;
    font-size: 33px;
    font-weight: 200;
    padding: 10px 35px;
    margin-right: 15px;
    margin-left: 15px;
}

.Button {
    -webkit-appearance: none;
    background: transparent;
    border-color: currentcolor;
    border-style: solid;
    border-width: 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    line-height: normal;
    margin: 0;
    /* padding: .4em .75em; */
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: normal;
}

.StreamsHero-buttonContainer .Button :hover{
    cursor:url('http://www.picgifs.com/cursors/cursors/pencil-and-pen/animaatjes_pencil_icon2.gif'), auto;
}